<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-header">
          <h2 class="h4 mb-0">Edit RV: <%= @rv.name %></h2>
        </div>
        <div class="card-body p-4">
          <%= render 'form', rv: @rv %>
        </div>
      </div>
    </div>
  </div>
</div>
